{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
