:root {
  margin-left: 1em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #d8d8d8;
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #66d9ef;
  text-decoration: inherit;
}

a:hover {
  color: #4bcffa;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: flex;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #66d9ef;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  margin-left: 1.5em;
}

p.white {
color: white, 
}

h3.glass {
  background: rgba(59, 49, 43, 0.2); /* translucent brownish background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  backdrop-filter: blur(10px); /* blurred background */
  border-radius: 10px; /* rounded corners */
  padding: 20px; /* add some padding for a nicer look */
  color: #f7f7f7; /* light text color */
}
h3.glass2 {
  background: rgba(237, 221, 202, 0.2); /* lighter brownish background */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* subtle white shadow */
  backdrop-filter: blur(10px); /* blurred background */
  border-radius: 10px; /* rounded corners */
  padding: 20px; /* add some padding for a nicer look */
  color: #3b312b; /* dark text color */
}

.warning {
  background: rgba(255, 0, 0, 0.2); /* translucent red background */
  color: white
}